<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>所有名片列表</title>
</head>
<body>
    <h1>所有名片資料</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>檔案名稱</th>
            <th>文字內容</th>
            <th>建立時間</th>
        </tr>
        {% for card in cards %}
        <tr>
            <td>{{ card[0] }}</td>
            <td>{{ card[1] }}</td>
            <td><pre>{{ card[2] }}</pre></td>
            <td>{{ card[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><a href="{{ url_for('index') }}">回首頁</a>
</body>
</html>
